.locations,
.amenities {
    height: 100%;
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.amenities {
    margin-left: -200px;
}
h3 {
    font-weight: 600;
    margin: 0;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}